.small{
    font-size: 18px;
    font-weight: 400;
}
.big{
    font-size: 2.5rem;
}
.light{
    color: $medium-brown;
}
.dark{
    color: $dark-brown;
    font-weight: 400;
}
.bold{
    font-weight: 700;
}
.breaker{
    border: solid 1.2px $Cream;
}