@import 'config';
@import 'utilities';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    @include applyAlternateGradient();
    @include applyFont();
}
header{
    padding: 2rem;
}
#img-container{
    width: 100%;
    img{
        width: 100%;
    }
}
#heading{
    @include flexCol();
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    align-items: center;
    font-size: 2.7rem;
}
#info-and-email{
    padding: 4rem 2rem;
    @include flexCol();
    gap: 3rem;
    align-items: center;
}
#text-container{
    @include flexCol();
    gap: 1.5rem;
    align-items: center;
    article{
        font-size: $default-font-size;
        line-height: 1.5;
        text-align: center;
        color: $desaturated-red;
    }
}
#confirm{
    @include applyGradient();
    border: none;
    position: relative;
    right: 43px;
    top: 1.6px;
    padding: 0.9rem 1.9rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 3px 1px 21px $desaturated-red;
}
input{
    font-size: $default-font-size;
    background-color: transparent;
    border: solid 1.6px $desaturated-red;
    color: $desaturated-red;
    padding: 0.9rem 1.6rem;
    border-radius: 2rem;
    margin-top: 0.3rem;
}
