@import 'config';
// @import 'utilities';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// HEADER BLOCK
.header, .container--bg{
    @include applyBgGradient();
    padding: 2rem;
}

// TEXT CONTAINER
.text{
    @include applyCustomFont();
}
.text__heading{
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.7rem;
    text-align: center;
}
.text__heading--light{
    font-weight: 300;
    color: $desaturated-red;
}
.text__heading--dark{
    font-weight: 600;
    color: $dark-grayish-red;
}
.text__info{
    color: $desaturated-red;
    text-align: center;
    line-height: 1.6;
    font-size: $default-font-size;
}

// FORM
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#email{
    border: solid 1.6px $desaturated-red;
    font-size: $default-font-size;
    background: transparent;
    padding: 0.7rem 1.6rem;
    position: absolute;
    border-radius: 2rem 0 0 2rem ;
    @include applyCustomFont();
    color: $desaturated-red;
}
#email:focus{
    outline: none;
}
.error__svg{
    visibility: hidden;
    position: relative;
    left: 107px;
}
.btn{
    position: relative;
    padding: 0.64rem 1.6rem;
    left: 111px;
}
.btn--gradient{
    @include applyBtnGradient();
    border: none;
}
.btn--round{
    border-radius: 2rem;
}
.btn--shadow{
    box-shadow: 4px 4px 10px $desaturated-red;
}
.btn:hover{
    filter: brightness(1.11);
    box-shadow: 7px 7px 10px $desaturated-red;
    cursor: pointer;
}

