@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

//common
$card-headings-size: 18px;
$fb-border: hsl(208, 92%, 53%);
$twitter-border: hsl(203, 89%, 53%);
$insta-border: linear-gradient(90deg,hsl(37, 97%, 70%),(329, 70%, 58%));
$yt-border: hsl(348, 97%, 39%);
$up-color: hsl(163, 72%, 41%);
$down-color: hsl(356, 69%, 56%);

// Dark theme
$bg-color: hsl(230, 17%, 14%); //(BG)
$head-color: hsl(232, 19%, 15%); //(Top BG Pattern)
$card-color: hsl(229, 27%, 20%); //(Card BG)
$text-dark: hsl(228, 34%, 66%); //(Text)
$text-light: hsl(0, 0%, 100%); //(Text) (Light-theme-BG)
$toggle-dark: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
// Light theme
$very-pale-blue: hsl(225, 100%, 98%); //(Top BG Pattern)
$light-grayish-blue: hsl(227, 47%, 96%); //(Card BG)
$dark-grayish-blue: hsl(229, 12%, 44%); //(Text)
$very-dark-blue: hsl(230, 17%, 14%); //(Text)
$toggle-light: hsl(230, 22%, 74%);


@mixin flexCol(){
    display: flex;
    flex-direction: column;
}