//text-colors
.text-light{
    color: $text-light
}
.text-dark{
    color: $text-dark;
}
.up{
    color: $up-color;
}
.down{
    color: $down-color;
}

// text-sizes
.small{
    font-size: 18px;
}.medium{
    font-size: 1.8rem;
}
.normal{
    font-size: 2rem;
}
.big{
    font-size: 2.5rem;
}

// text-styles
.up,.down,.bold{
    font-weight: 700;
}
.upper{
    text-transform: uppercase;
}
.thin{
    font-weight: 300;
}